<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-305EGE1ZX1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-305EGE1ZX1');
</script>
<meta charset="utf-8">
</meta>
{% if include.title %}
<title>
    {{ site.title }} :: {{ include.title }}
</title>
{% endif %}
{% include loader.html header=true project=include.project css=include.css js=include.js root_location=include.root_location %}